.page-title-container {
    font-size: 0.7rem;
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
    @media (max-width: $break--lrg) {
       border-top: 1px solid $black;
    }
    @media (max-width: $break--sml) {
        display: none;
    }
}

.bold{
    font-weight: $font-weight--bold;
}

.page-title {
    font-weight: $font-weight--light;
    padding: 13px 0;
    margin: 0;
}

.title-container {
    @media (max-width: $break--lrg) {
        background-color: $dark-grey;
        color: $white;
    }
}
.title {
    font-size: 2.3rem;
    font-weight: $font-weight--light;
    padding: 35px 0;
    margin: 0;
}
//locations //////////////////////

.office-section {
    margin-top: 50px;
    margin-bottom: 30px;
}
.location {
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    min-width: 100px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}



.building-image {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    min-width: 100px;
}

.border-box {
    border: 1px solid lightgrey;
    
}

.office-info {
    padding: 30px;
}

.office-name {
    font-size: 1.3rem;
    font-weight: $font-weight--light;
}

.office-address {
    font-weight: $font-weight--light;
    color: #666666;
}

.phone-link {
   font-size: 1.2rem;
   font-weight: $font-weight--bold;
   color: $web;
   &:hover {
    text-decoration: underline;
   }
   @include mq(medium) {
    font-size: 1.7rem;
   }
}

.view-more-btn {
    background-color: $web;
    &:hover {
        background-color: darken($color: $web, $amount: 10%);
    }
}

.map-image {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    min-width: 100px;
}

//buisness info //////////////////

.buisness-info {
    font-weight: $font-weight--bold;
    font-size: 1rem;
}

.buisness-info-text {
    padding: 10px 0;
}

.sales-email {
    font-size: 1.2rem;
    color: $web;
    &:hover {
        text-decoration: underline;
    }
    @include mq(medium) {
        font-size: 1.7rem;
    }
}

//contact form/////////////////////

.contact-form {
    background-color: $light-grey;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.label {
    font-size: 1rem;
    font-weight: $font-weight--bold;
}

.input-field {
    outline: none;
    margin: 5px 0;
    padding: 10px 15px;
    width: 100%;
}

.input-field:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.con-mess {
    height: 100px;
}

.require-text {
    text-align: center;
    font-size: .8rem;
}

//form layout

.input-box {
    @include mq(large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.col-1 {
    @include mq(large) {
        width: 48%;
    }
}

.form-bottom {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @include mq(small) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

//main page layout /////////////////////////

.offices {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mq(large) {
        flex-wrap: wrap;
        flex-direction: row;
        & {
            .location {
                width: 48%;
            }
        }
    }
}

.contact-section {
    @include mq(x-large) {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }
}

//errors 

.error-box {
    @extend %center;
    background-color: #b34668;
    border: 1px solid #9c3d5a;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    margin-top: 15px;
}

.error-message {
    color: $white;
}