.page-title-container {
    font-size: 0.7rem;
    
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
}

.bold{
    font-weight: $font-weight--bold;
}

.page-title {
    font-weight: $font-weight--light;
    padding: 13px 0;
    margin: 0;
}

.title {
    font-size: 2.3rem;
    font-weight: $font-weight--light;
    padding: 20px 0;
}

//contact form/////////////////////

